<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/user.css">
<link 
	rel="stylesheet" 
	href="https://fonts.googleapis.com/css?family=Orbitron"	
>
<title>foruka-go</title>
</head>
<body>

<div id="wrapper">
	<div id="header">
		<div class="top_banner">
			<h1>foruka-go</h1>
		</div>
	</div>
</div>

<div>
<table border="1">
	<tr>
		<td colspan=3 id="create"><button>Create</button></td>
	<tr>
		<th> Container Name	</th>
		<th>	Status		</th>
		<th>	Action		</th>
	</tr>
	<tr>
		<td>	####		</td>
		<td>	####		</td>
		<td>	
			<button type="button" name="start" value="start">
			<font size="2">Start</font>
			</button>			
	
			<button type="button" name="stop" value="stop">
			<font size="2">Stop</font>
			</button>

			<button type="button" name="reboot" value="reboot">
			<font size="2">Reboot</font>
			</button>

			<button type="button" name="delete" value="delete">
			<font size="2">Delete</font>
			</button>

		</td>
</table>
</div>
