h1{
	font-size: 40px; 
	color: green;
	font-family: "Orbitron", sans-serif;
}
body{
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Orbitron", sans-serif;
}
#rinku{
	font-size: 20px;
	color: #b0c4de;
}
#word{
	font-size: 20px;
}
