<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/login.css">
<link 
	rel="stylesheet" 
	href="https://fonts.googleapis.com/css?family=Orbitron"	
>
<title>foruka-go</title>
</head>
<body>

<div id="wrapper">
	<div id="header">
		<div class="top_banner">
			<h1>
				<a id="rinku" href="http://192.168.11.100:8080/">foruka-go</a>
			</h1>
			<hr>
		</div>
	</div>
</div>

<div id="loginform" class="col-md-offset-4 col-md-4">
    <form id="login"class="form-signin" role="form" method="POST" action="http://192.168.11.100:8081/signin" onsubmit="DisableButton();">
        <h2 class="form-signin-heading">login</h2>
        
        <input name="username" type="text" class="form-control" placeholder="mail address" required> <br>
        
        <input name="password" type="password" class="form-control" placeholder="password" required>

        <br>
        <button id="submitbutton" class="btn btn-lg btn-warning btn-block" type="submit">login</button>
    </form>
</div>

</body>
</html>
