<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/home.css">
<link 
	rel="stylesheet" 
	href="https://fonts.googleapis.com/css?family=Orbitron"	
>
<title>foruka-go</title>
</head>
<body>

<div id="wrapper">
	<div id="header">
		<div class="top_banner">
			<h1>foruka-go</h1>
			<hr>
		</div>
	</div>
</div>

<a id="rinku" href="http://192.168.11.100:8080/login/">login</a>

<p>{{.id}}</p>
<p>{{.user}}</p>

</body>
</html>
